/*
Theme Name: Roznamti
Author: ..
Author URI: ..
Version: 1
*/
/*Bootstrap override*/
.navbar-brand{
  float: left;
  display: inline-block;
  margin-left: 0 !important;
  padding: 12px 0 0;
}
.navbar-nav{
  margin: 0;
}
h3{
  font-weight: 300;
}
.navbar-toggle {
  border: 1px solid #333;
  margin-top: 0;
}
.navbar-toggle .icon-bar {
  background-color: #222;
}
/*End override*/

/*main style*/
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.affix + .main-container {
    padding-top: 65px;
}
.btn-bayt {
  background-color: #ededed;
  border-color: #ccc;
  color: #555;
  transition: 200ms background ease;
}
.btn-bayt:hover, .btn-bayt:focus {
  background-color: #ddd;
}
.default-space{
  margin-bottom: 50px;
}
/*Header*/
.navbar-bayt{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border: 0;
  padding: 12px 0 6px;
  z-index: 13;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto;
  transition: 300ms border-bottom ease;
}
.navbar-bayt a{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  transition: 200ms color ease;
}
.navbar-bayt a:hover {
  text-decoration: none;
  color: #888;
}
.bayt-logo{
  padding: 0 5px;
  display: inline-block;
}
.affix{
  width: 100%;
  z-index: 13;
  border-bottom: 3px solid #333;
}
@media (min-width: 992px) {
  .navbar .main-menu {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 6px 0;
  }
  .navbar .main-menu li {
    margin-right: 20px;
  }
  .navbar .main-menu li:last-child {
    margin-right: 0;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
@media (max-width: 992px){
  .navbar-bayt{
    background-color: rgba(255, 255, 255, 1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
  .loging-and-register{
    float: none !important;
  }
  .main-menu.list-inline > li, .loging-and-register.list-inline > li{
    float: none;
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
/*Home*/
.cover-img {
  height: 612px;
  background-image: url('../img/cover-img.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  width: 100%;
  z-index: 0;
}
.starting-here {
  position: absolute;
  text-align: center;
  top: 40%;
  margin: -50px auto 0;
  color: #fff;
  left: 0;
  right: 0;
  max-width: 750px;
}
.arrow {
  width: 57px;
  height: 22px;
  background-image: url('../img/arrow.png');
  display: block;
  margin: 0 auto 20px;
}
.btn-black{
  background-color: #111;
  color: #fff;
  display: block;
  font-size: 18px;
  padding: 10px 0;
  transition: 250ms all ease;
  text-transform: capitalize;
}
.starting-here input{
  height: 46px;
}
.btn-black:hover, .btn-black:focus {
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.6);;
}
.starting-here h1 {
  font-size: 30px;
  margin: 0 auto 20px;
  text-transform: uppercase;
}
.starting-here .start-here{
  font-size: 29px;
  display: block;
  margin: 0 auto 20px;
}
.starting-here input, .starting-here .btn-black{
  max-width: 400px;
  margin: 15px auto;
  text-align: center;
}
@media (max-width: 1280px) {
  .starting-here {
    top: 30%;
    margin: auto;
  }
}
@media (max-width: 420px) {
  .starting-here {
    padding: 15px;
    top: 13%;
  }
  .starting-here h1 {
    font-size: 25px;
  }
  .starting-here .start-here{
    font-size: 20px;
  }
}
/*services*/
.need-help > h3{
  margin: 0 auto 40px;
  text-align: center;
}
.bayt-service {
  text-align: center;
}
.service-icon {
  border: 2px solid #333;
  border-radius: 50%;
  font-size: 35px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto 22px;
  width: 100px;
  transition: 250ms all ease;
}
.service-icon:hover {
  background-color: #000;
  border-color: #ddd;
  color: #fff;
}
.service-icon:hover i{
  transform: scale(0.85);
}
.service-details{
  height: 90px;
}
.service-description h4{
  margin: 0 auto 20px;
}
.service-description a{
  text-transform: uppercase;
  color: #000;
}
@media (max-width: 992px) {
  .service-details{
    height: auto;
  }
}
@media (max-width: 768px) {
  .bayt-service{
    margin-bottom: 15px;
  }
}
/*who is hiring*/
.who-is-hiring{
  background-image: url('../img/section-bg.jpg');
  width: 100%;
  height: 532px;
  background-size: cover;
  padding: 40px 0;
  background-position: center;
}
.list-logos{
  display: block;
  max-width: 770px;
  text-align: center;
  margin: auto;
}
.list-logos li, .owl-hiring img {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  text-align: center;
}
.who-is-hiring > h3{
  color: #fff;
  font-size: 39px;
  text-align: center;
  margin: 30px auto;
}
.logo-in-small-width{
  display: none;
}
@media (max-width: 992px) {
  .logo-in-full-width{
    display: none;
  }
  .logo-in-small-width{
    display: block;
  }
  .logo-in-small-width .owl-item{
    text-align: center;
  }
}
.logo-in-small-width .owl-controls .owl-page span {
  background: #fff none repeat scroll 0 0;
}
/*About*/
.testimonials{
  margin-top: 50px;
}
.testmonials-content{
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-family: "Georgia";
}
.testmonials-content p::before {
  content: '“ ';
}
.testmonials-content p::after {
  content: " ”"
}
.testmonials-content > .testmonial-logo{
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
}
.testmonials-info{
  font-size: 14px;
  font-style: normal;
  color: #989898;
}
.testmonials-content img , .testmonials-content .testmonials-info{
  margin-bottom: 10px;
}
.testmonial-text {
  min-height: 100px;
}
.owl-bayt{
  max-width: 580px;
  margin: auto;
}
.press-content {
  background-color: #f9f9f9;
  padding: 15px;
  position: relative;
  margin-bottom: 45px;
  font-family: "Georgia";
  font-style: italic;
  font-size: 24px;
}
.bayt-in-press h3{
  font-size: 39px;
  color: #333;
  margin-bottom: 30px;
}
.bayt-in-press h5{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.press-content::after {
  width: 85px;
  height: 43px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -43px;
  background-image: url('../img/arrow-down.png');
  content: " ";
}
/*Help*/
.more-help{
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}
.more-help span{
  display: block;
  margin-bottom: 20px;
}
.more-help span:nth-child(1){
  font-size: 39px;
  font-weight: 300;
}
.more-help span:nth-child(2){
  font-size: 20px;
  font-weight: 300;
}
.more-help span:nth-child(3){
  font-size: 35px;
  font-weight: 300;
}
.more-help a{
  font-size: 35px;
  color: #000;
  font-weight: 300;
}
/*Footer*/
.footer-links {
    background: #fff none repeat scroll 0 0;
    padding: 50px 0;
    position: relative;
    width: 100%;
    z-index: 10;
}
.footer-links .container {
  max-width: 1000px;
}
.footer-links a {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .footer-links {
    padding: 20px 0;
  }
  .footer-links ul{
    margin-bottom: 15px;
    text-align: center;
  }
  .footer-links ul li{
    margin: 5px 0;
  }
}
